<ion-slides *ngIf="peliculas" [options]="slidesOpts">
    <ion-slide *ngFor="let pares of peliculas | pares">

        <ion-row>

            <ion-col size="12" *ngFor="let pelicula of pares">
                <ion-card (click)="verDetalle( pelicula.id )">
                    <img class="poster" [src]="pelicula.poster_path | image">
                </ion-card>
            </ion-col>

        </ion-row>

    </ion-slide>

    <ion-slide class="slide-mas">
        <ion-button (click)="onClick()" class="btn-mas" expand="full" size="large">
            <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
    </ion-slide>


</ion-slides>