<ion-slides [options]="slidesOpts">
    <ion-slide *ngFor="let pelicula of peliculas">

        <ion-card (click)="verDetalle( pelicula.id)">
            <img [src]="pelicula.backdrop_path | image">
        </ion-card>


    </ion-slide>
</ion-slides>